node_modules
temp
build
build_info
deployment_info
gas_costs
dist
.DS_Store
package.ts
.env
.privatekey

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

prompt*

.cursor*